In [1]:
import pyspark
from pyspark.sql import SparkSession

In [28]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [3]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv

--2023-03-05 18:49:12--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.csv
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.216.57.89, 52.217.141.137, 3.5.24.143, ...
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.216.57.89|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2023-03-05 18:49:12 ERROR 403: Forbidden.

In [4]:
!wc -l fhvhv_tripdata_2021-01.csv

wc: fhvhv_tripdata_2021-01.csv: No such file or directory

In [29]:
df = spark.read \
    .option("header", "true") \
    .csv('csv.csv')

In [39]:
df.schema

StructType([StructField('_c0', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [32]:
!head -n 1001 csv.csv > head.csv

In [33]:
import pandas as pd

In [34]:
df_pandas = pd.read_csv('head.csv')

Integer - 4 bytes
Long - 8 bytes

In [42]:
from pyspark.sql import types

In [43]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [44]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('csv.csv')

In [45]:
df = df.repartition(24)

In [46]:
df.write.parquet('fhvhv/2021/01/')

23/03/05 19:07:08 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 8, schema size: 7
CSV file: file:///home/yusuf/eng/data-eng/week5/notebook/csv.csv

In [47]:
df = spark.read.parquet('fhvhv/2021/01/')

In [48]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

SELECT * FROM df WHERE hvfhs_license_num =  HV0003

In [49]:
from pyspark.sql import functions as F

In [51]:
df.select('pickup_datetime')

DataFrame[pickup_datetime: timestamp]

In [50]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           194196|              B00900|2021-02-06 23:42:38|2021-02-07 00:16:14|        null|        null|   null|
|           146701|              B01985|2021-02-05 14:46:00|2021-02-05 15:26:00|        null|        null|   null|
|            20455|              B01196|2021-02-02 12:04:24|2021-02-02 12:11:42|        null|        null|   null|
|             4280|              B03002|2021-02-01 08:13:15|2021-02-01 08:42:52|        null|        null|   null|
|           257979|              B00727|2021-02-08 20:01:05|2021-02-08 20:13:11|        null|        null|   null|
|           231321|              B02429|2021-02-08 09:01:57|2021-02-08 09:18:03|        null|        null|   null|
|            24956|              B02794|2021-02-02 14:24:59|2021-02-02 14:37:43|        null|        null|   null|
|           205572|              B01259|2021-02-07 11:30:59|2021-02-07 11:41:28|        null|        null|   null|
|           105946|              B00911|2021-02-04 15:32:32|2021-02-04 15:55:20|        null|        null|   null|
|            93674|              B00225|2021-02-04 11:24:45|2021-02-04 11:30:15|        null|        null|   null|
|           134043|              B01285|2021-02-05 10:59:12|2021-02-05 11:03:40|        null|        null|   null|
|           202553|              B00856|2021-02-07 09:16:34|2021-02-07 10:21:50|        null|        null|   null|
|           126491|              B00856|2021-02-05 08:10:20|2021-02-05 08:36:36|        null|        null|   null|
|           154024|              B00254|2021-02-05 18:48:10|2021-02-05 18:53:59|        null|        null|   null|
|           119568|              B02162|2021-02-05 01:04:37|2021-02-05 01:20:03|        null|        null|   null|
|           167315|              B02803|2021-02-06 07:30:49|2021-02-06 07:38:36|        null|        null|   null|
|           120270|              B02735|2021-02-05 03:09:07|2021-02-05 03:14:16|        null|        null|   null|
|            13165|              B02967|2021-02-02 07:47:45|2021-02-02 07:48:35|        null|        null|   null|
|            31084|              B02794|2021-02-02 18:13:36|2021-02-02 18:23:27|        null|        null|   null|
|            93746|              B00271|2021-02-04 11:44:00|2021-02-04 12:52:34|        null|        null|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [ ]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [ ]:
crazy_stuff('B02884')

's/b44'

In [ ]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [ ]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/9ce| 2021-01-07|  2021-01-07|         142|         230|
|  e/9ce| 2021-01-01|  2021-01-01|         133|          91|
|  e/acc| 2021-01-01|  2021-01-01|         147|         159|
|  e/b35| 2021-01-06|  2021-01-06|          79|         164|
|  s/b44| 2021-01-04|  2021-01-04|         174|          18|
|  e/b3b| 2021-01-04|  2021-01-04|         201|         180|
|  e/9ce| 2021-01-04|  2021-01-04|         230|         142|
|  e/b38| 2021-01-03|  2021-01-03|         132|          72|
|  s/af0| 2021-01-01|  2021-01-01|         188|          61|
|  e/9ce| 2021-01-04|  2021-01-04|          97|         189|
|  e/acc| 2021-01-01|  2021-01-01|         174|         235|
|  a/b37| 2021-01-05|  2021-01-05|          35|          76|
|  e/9ce| 2021-01-06|  2021-01-06|          35|          39|
|  e/b42| 2021-01-04|  2021-01-04|         231|          13|
|  e/a39| 2021-01-02|  2021-01-02|          87|         127|
|  e/9ce| 2021-01-02|  2021-01-02|          17|          89|
|  e/b35| 2021-01-02|  2021-01-02|          11|          14|
|  e/9ce| 2021-01-01|  2021-01-01|          21|          26|
|  e/b35| 2021-01-04|  2021-01-04|          83|         260|
|  e/9ce| 2021-01-01|  2021-01-01|         189|          52|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [ ]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.hvfhs_license_num == 'HV0003')

[Row(pickup_datetime=datetime.datetime(2021, 1, 1, 0, 23, 13), dropoff_datetime=datetime.datetime(2021, 1, 1, 0, 30, 35), PULocationID=147, DOLocationID=159),
 Row(pickup_datetime=datetime.datetime(2021, 1, 6, 11, 43, 12), dropoff_datetime=datetime.datetime(2021, 1, 6, 11, 55, 7), PULocationID=79, DOLocationID=164),
 Row(pickup_datetime=datetime.datetime(2021, 1, 4, 15, 35, 32), dropoff_datetime=datetime.datetime(2021, 1, 4, 15, 52, 2), PULocationID=174, DOLocationID=18),
 Row(pickup_datetime=datetime.datetime(2021, 1, 4, 13, 42, 15), dropoff_datetime=datetime.datetime(2021, 1, 4, 14, 4, 57), PULocationID=201, DOLocationID=180),
 Row(pickup_datetime=datetime.datetime(2021, 1, 3, 18, 42, 3), dropoff_datetime=datetime.datetime(2021, 1, 3, 19, 12, 22), PULocationID=132, DOLocationID=72)]

In [ ]:
!head -n 10 head.csv

hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag

HV0003,B02682,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,

HV0003,B02682,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,

HV0003,B02764,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,

HV0003,B02764,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,

HV0003,B02764,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,

HV0005,B02510,2021-01-01 00:06:59,2021-01-01 00:43:01,88,42,

HV0005,B02510,2021-01-01 00:50:00,2021-01-01 01:04:57,42,151,

HV0003,B02764,2021-01-01 00:14:30,2021-01-01 00:50:27,71,226,

HV0003,B02875,2021-01-01 00:22:54,2021-01-01 00:30:20,112,255,